<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>dev.karim.toby.audio-helper</string>
	<key>CFBundleName</key>
	<string>Toby Audio Helper</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Toby records microphone audio when you use listen mode.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Toby uses speech recognition to transcribe saved listen recordings.</string>
</dict>
</plist>
